.container {
    width: 95vw;
    margin-left: 5vw;
    background-color: white;
    z-index: 0;
} 

.room {
    height: 100vh;
    display: flex;
    align-items: center;
    color: black;
    font-size: 2.6rem; 
    font-weight: 100;
    text-transform: uppercase;
    margin-left: 2rem;
} 

.room2 {
    height: 60vh;
    display: flex;
    align-items: center;
    color: black;
    font-size: 2.6rem; 
    font-weight: 100;
    text-transform: uppercase;
    margin-left: 2rem;
} 

@media only screen and (max-width: 1400px) {
    .container {
        width: 90vw;
        margin-left: 10vw;
    }
}

@media only screen and (max-width: 700px) {
    .container {
        width: 80vw;
        margin-left: 20vw; 
    }

    .room, .room2 {
        font-size: 1.5rem;
    }
}
